<%- include('templates/header') %>

  <div class="event-list-container">
    <h1>Event List</h1>
    <ul>
      <% events.forEach(event => { %>
        <li><%= event.title %></li>
        <li><%= event.description %></li>
        <li><%= event.start_at %></li>
        <li><%= event.end_at %></li>
      <% }); %>
    </ul>
   
  </div>

  <div class="time-slots-container">
    <% timeSlotsWithEvents.forEach(timeSlot => { %>
      <div class="time-slot">
        <h2><%= timeSlot.display %></h2>
        <ul>
          <% timeSlot.events.forEach(event => { %>
            <li><%= event.title %></li>
          <% }); %>
        </ul>
      </div>
    <% }); %>
  </div>


<%- include('templates/footer') %>